<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="bugcrawler.runtime.preferences.PreferencePageExt"
            id="bugcrawler_plugin.preferences.PreferencePageExt"
            name="Bugcrawler"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="bugcrawler.runtime.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="bugcrawler.runtime.intro.Intro"
            icon="images/eclipse_icon.gif"
            id="bugcrawler_plugin.intro"/>
		<introProductBinding
			introId="bugcrawler_plugin.intro"
			productId="bugcrawler.product">
		</introProductBinding>            
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="bugcrawler.runtime.views.BugTreeTableView"
            icon="images/eclipse_icon.gif"
            id="bugcrawler_plugin.views.BugTreeTableView"
            name="Bugcrawler"/>
      <stickyView
            closeable="true"
            id="bugcrawler_plugin.views.ProgramView"
            location="TOP"
            moveable="false"/>
      <view
            class="bugcrawler.runtime.diagram"
            icon="images/eclipse_icon.gif"
            id="bugcrawler_plugin.view1"
            name="Bugcrawler Diagram"/>
   </extension>
   <!-- OLD PERSPECTIVE-EXTENSION NOT GOOD TO HANDLE. NEW LAYOUT -> STICKYVIEW
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="bugcrawler.perspective">
         <view
               closeable="true"
               id="bugcrawler.plugin.views.ProgramView"
               moveable="true"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               showTitle="true"
               standalone="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>-->
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="bugcrawler.runtime.editor.BugEditor"
            default="false"
            icon="images/eclipse_icon.gif"
            id="bugcrawler_plugin.editor"
            name="Bugeditor"/>
   </extension>
</plugin>
